[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Powersploit
Comment=Powersploit
Icon=kali-powershell-empire-128x128.png
Exec=xterm -e /usr/bin/bash -c "if test -d /usr/share/windows/powersploit;then cd /usr/share/windows/powersploit;$SHELL;else echo \"Powersploit is not installed. I'm retrieving it for you...\";sudo pacman -S --noconfirm powersploit;cd /usr/share/windows/powersploit;$SHELL;fi;"
Terminal=false
Categories=Tags;Describing;Application
