[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PowerShell
Comment=PowerShell
Icon=powershell.svg
Exec=xterm -e /usr/bin/bash -c 'pwsh'
Terminal=false
Categories=Tags;Describing;Application
