[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Zsh Shell
Comment=Zsh Shell
Icon=shell.svg
Exec=xterm
Terminal=false
Categories=Tags;Describing;Application
