@import "selenized.css";
* {
  font-family: Symbols Nerd Font, Iosevka Medium;
  font-size: 15px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(26, 27, 38, 0.5);
  color: #800000;
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.5;
}

#waybar.empty #window {
  background: none;
}

.modules-left, .modules-center, .modules-right {
  background: #121E23;
  border: 2px solid #2C383E;
  padding: 0px 5px;
}

.modules-center {
  margin: 0px 5px;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#tray,
#pulseaudio,
#custom-weather,
#custom-updater,
#custom-vpn_check,
#custom-uptime,
#custom-cputemp,
#window,
#network {
  padding: 0px 4px;
}

#backlight {
  color: @teal;
}

#battery {
  color: @green;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @theme_text_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @lavender;
}

#cpu {
  color: @sapphire;
}

#memory {
  color: @sky;
}

#disk {
  color: @sky;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button.active {
  color: @teal;
  border-radius: 0px;
}

#custom-updater {
  color: @red;
}

#custom-uptime {
  color: @blue;
}

#custom-weather {
  color: @blue;
}

#custom-vpn_check {
  color: @sky;
}
#custom-cputemp {
  color: @sky;
}

#pulseaudio {
  color: @teal;
}

#pulseaudio.bluetooth {
  color: @pink;
}
#pulseaudio.muted {
  color: @red;
}

#window {
  color: @sapphire;
}

#network {
  color: @teal;
}
#network.disconnected,
#network.disabled {
  background-color: @surface0;
  color: @text;
}
