* {
    font-family: "MesloLGM";
    font-size: 14px;
}

#window {
	border-radius: 0px;
}

#outer-box {
	padding: 20px;
}

#input {
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
	margin-bottom: 20px;
}

#inner-box {
}

#img {
	padding-right: 8px;
}

#text {
}

#text:selected {
}

#entry {
	padding: 6px;
}

#entry:selected {
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 4px;
}
